.property-card {
  background: white;
  border: 1px solid #e5e5e5;
  width: 31%;
  border-radius: 10px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  &:hover {
    cursor: pointer;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  }

  .single-photo {
    height: 120px;
    width: 100%;
    background-color: #e0e0e0;
    overflow: hidden;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

    img.cover {
      width: 100%;
    }
  }

  .property-details {
    padding: 15px;

    .property-type {
      font-size: 10px;
      color: #4d4d4d;
      font-weight: 400;
    }

    .property-address {
      font-size: 12px;
      font-weight: 600;
      color: #000;
    }

    .property-neighbourhood {
      font-size: 12px;
      font-weight: 400;
      color: #000;
    }

    .property-size {
      font-size: 10px;
      color: rgba(0, 0, 0, 0.6);
    }

    .property-bedrooms {
      font-size: 10px;
      color: rgba(0, 0, 0, 0.6);
    }

    .property-rent-price {
      color: #007844;
      font-weight: bold;
      font-size: 12px;
    }
  }
}
